@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.centralization {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

:root {
  --brand-firt: #e37c73;
  --brand-second: #dfb7af;
  --brand-tirt: #a57f6c;
  --brand-fort: #fbda97;
  --brand-fivet: #1f8963;
}

.background-top {
  width: 100%;
  height: 1090px;
  background-image: url("../image/rapazes/rapaz1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu h1 {
  margin-top: 70px;
  font-size: 36px;
  color: black;
}

nav {
  margin-top: 70px;
  width: 900px;
  font-size: 24px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul button {
  width: 123px;
  height: 49px;
  font-size: 16px;
  font-weight: 800;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
nav ul button:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}
nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: black;
}
nav li a:hover {
  font-weight: 800;
  transition: 0.2s;
}

.menu-mobile {
  display: none;
}
.menu-mobile span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-mobile hr {
  width: 25px;
  height: 5px;
  background-color: black;
  border: 0;
  margin: 3px;
}
.menu-mobile h1 {
  font-size: 36px;
  color: black;
}

.call-to-action {
  margin-top: 180px;
}
.call-to-action h1 {
  font-size: 68px;
  font-weight: 700;
  color: black;
}
.call-to-action p {
  font-size: 24px;
  color: black;
}
.call-to-action button {
  width: 204px;
  height: 70px;
  margin-top: 34px;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  color: black;
  border: 0;
  cursor: pointer;
}
.call-to-action button:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: 0.2s;
}

.content1 {
  display: flex;
  justify-content: space-between;
}

.new-colection {
  margin-top: 140px;
}
.new-colection h1 {
  text-align: center;
  font-weight: 700;
  font-size: 68px;
  line-height: 83px;
}
.new-colection p {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.cards-r {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-roupas {
  width: 420px;
  height: 500px;
  display: flex;
  margin: 10px;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 20px;
  background-image: url("../image/rapazes/rapaz2.png");
  background-repeat: no-repeat;
  background-size: 420px;
}
.card-roupas button {
  width: 376px;
  height: 104px;
  margin: 0 auto;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  cursor: pointer;
}
.card-roupas button:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

.card-roupas:nth-child(2) {
  background-image: url("../image/rapazes/rapaz3.png");
  background-repeat: no-repeat;
}

.card-roupas:nth-child(3) {
  background-image: url("../image/rapazes/rapaz4.png");
  background-repeat: no-repeat;
}

.new-colection-and {
  height: 801px;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("../image/moças/moças-lado-lado.png");
  background-size: 650px;
  background-repeat: no-repeat;
  background-position-y: 85px;
}

.background-footer {
  width: 100%;
  height: 100%;
  background-color: var(--brand-tirt);
}

.footer {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.footer h2 {
  margin-top: 27px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: white;
}

.container-footer {
  order: 1;
  margin-top: 76px;
}

.image-footer {
  order: 0;
  position: relative;
  top: -70px;
}
.image-footer img {
  width: 500px;
}

.pesqui {
  display: flex;
  width: 804px;
  height: 86px;
}
.pesqui input {
  width: 500px;
  height: 86px;
  order: 0;
  padding-left: 20px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 0 0;
  outline: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 166.4%;
  color: white;
}
.pesqui ::-moz-placeholder {
  color: white;
}
.pesqui :-ms-input-placeholder {
  color: white;
}
.pesqui ::placeholder {
  color: white;
}
.pesqui button {
  width: 392px;
  height: 86px;
  position: relative;
  right: 100px;
  order: 1;
  border: 0;
  border-radius: 50px;
  background-color: #d9d9d9;
  font-weight: 600;
  font-size: 24px;
  line-height: 166.4%;
  cursor: pointer;
}

.pas {
  width: 700px;
  display: flex;
  text-align: start;
  justify-content: space-between;
  margin-top: 27px;
}
.pas h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 166.4%;
  color: #ffffff;
}
.pas p {
  font-weight: 600;
  font-size: 24px;
  line-height: 166.4%;
  color: white;
}

.line-footer {
  width: 740px;
  margin-top: 37px;
  border: 1px solid white;
}

.the-and {
  width: 700px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.the-and span p {
  font-weight: 600;
  font-size: 24px;
  line-height: 166.4%;
  color: white;
}

.redes-sociais {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1560px) {
  .container1 {
    padding: 20px;
  }
  .image-footer img {
    width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    flex-direction: column;
  }
  .container-footer {
    margin: 0 auto;
    padding-left: 60px;
  }
  .image-footer {
    margin: 0 auto;
    top: 0;
  }
  .image-footer img {
    width: 300px;
    margin: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
@media screen and (max-width: 870px) {
  .background-top {
    background-image: none;
    background-color: #c4c4c4;
  }
  .call-to-action {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
  }
  .container-footer {
    padding: 0;
  }
  .container-footer {
    text-align: center;
  }
  .pas {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .line-footer {
    width: 100%;
  }
  .the-and {
    width: 100%;
  }
  .pesqui {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .menu-product {
    display: none;
  }
  .menu-product-mobile {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .the-and span p {
    font-size: 15px;
  }
  .new-colection {
    padding: 10px;
  }
  .container-footer {
    padding: 10px;
  }
  .redes-sociais {
    gap: 5px;
  }
  .card-roupas {
    width: 347px;
    height: 441px;
    background-size: 347px;
  }
  .background-top {
    height: 900px;
  }
  .call-to-action {
    margin-top: 50px;
  }
  .new-colection {
    margin-top: 30px;
  }
  .footer {
    margin-top: 30px;
  }
}/*# sourceMappingURL=style2.css.map */